@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-lora);
  --font-serif: var(--font-playfair);
  
  --color-gold-400: #F3E5AB;
  --color-gold-500: #D4AF37;
  --color-gold-600: #AA8C2C;
  --color-gold-700: #806921;

  --color-royal-900: #0f172a;
  --color-royal-950: #020617;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #020617;
    --foreground: #f8fafc;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-serif), serif;
}
